
/* the container of the image */
.loadingImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
}

/* the loading image itself */
.loadingImage {
    clip-path: circle();
    height: 50%;
}

/* the animation to spin the loading image */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.spin {
  animation: spin 2s linear infinite;
}

/* the container for the animal images */
.animalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* the container for the habitat images */
.habitatContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* the standardizing of the animal and habitat images */
.IMG {
  width: 300px;        
  height: 200px;        
  object-fit: cover;   
  padding: 1vw;
}