/* Main title of the zoo project */
.mainTitle {
    position: relative;
    text-align: center;
}

/* The introductory paragraph */
.intro {
    position: relative;
    text-align: center;
}

/* the flex container for the menu buttons */
.menuButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* the menu buttons (start, settings, etc) */
.menuButton {
    color: black;
    background-color: #076150;
    border-color: rgb(90, 19, 19);
    border-width: 0.5vw;
    font-size: 2.5vw;
    font-weight: bolder;
    min-width: 5vw;
    min-height: 4.5vw;
    width: 20vw;
    margin: .5vw;
    cursor: pointer;
}

/* a class to disable buttons */
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.25;
}

/* the additional information section */
.info-title {
    position: relative;
    text-align: center;
}
.info-body {
    position: relative;
    text-align: center;
}

/* the footer */
footer {
    position: relative;
    text-align: center;
}

hr {
    border-color: black;
}